USE [master]
GO
/****** Object:  Database [POS_DB]    Script Date: 27-04-2026 15:00:39 ******/
CREATE DATABASE [POS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_DB', FILENAME = N'C:\Prashant\Database\POS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_DB_log', FILENAME = N'C:\Prashant\Database\POS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_DB]
GO
/****** Object:  User [IIS APPPOOL\posAPI]    Script Date: 27-04-2026 15:00:40 ******/
CREATE USER [IIS APPPOOL\posAPI] FOR LOGIN [IIS APPPOOL\posAPI] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[UserName] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](200) NULL,
	[BranchName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NULL,
	[JoiningDate] [date] NULL,
	[Department] [nvarchar](100) NULL,
	[SubDepartment] [nvarchar](100) NULL,
	[Designation] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NULL,
	[IsAdmin] [bit] NULL,
	[Basic] [decimal](10, 2) NULL,
	[DA] [decimal](10, 2) NULL,
	[HRA] [decimal](10, 2) NULL,
	[GrossSalary] [decimal](10, 2) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[Department] [nvarchar](100) NULL,
	[Section] [nvarchar](100) NULL,
	[Category] [nvarchar](100) NULL,
	[SubCategory] [nvarchar](100) NULL,
	[Brand] [nvarchar](100) NULL,
	[Pattern] [nvarchar](100) NULL,
	[Category7] [nvarchar](100) NULL,
	[ArticleName] [nvarchar](200) NULL,
	[Unit] [nvarchar](50) NULL,
	[GSTGroup] [nvarchar](50) NULL,
	[HSNCode] [nvarchar](20) NULL,
	[ProductType] [nvarchar](20) NULL,
	[PRP] [decimal](10, 2) NULL,
	[MRP] [decimal](10, 2) NULL,
	[WSP] [decimal](10, 2) NULL,
	[SSP] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[MinLevel] [int] NULL,
	[MaxLevel] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployee]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteEmployee]
(
    @Id INT
)
AS
BEGIN
    DELETE FROM Employees WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployees]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetEmployees]
AS
BEGIN
    SELECT * FROM Employees ORDER BY Id DESC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Login]
(
    @UserName NVARCHAR(100),
    @PasswordHash NVARCHAR(200)
)
AS
BEGIN
    SELECT * FROM Employees
    WHERE UserName = @UserName AND PasswordHash = @PasswordHash AND IsActive = 1
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveEmployee]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SaveEmployee]
(
    @Id INT = NULL,
    @Name NVARCHAR(150),
    @UserName NVARCHAR(100),
    @PasswordHash NVARCHAR(200),
    @BranchName NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Mobile NVARCHAR(20),
    @Gender NVARCHAR(10),
    @BirthDate DATE,
    @JoiningDate DATE,
    @Department NVARCHAR(100),
    @SubDepartment NVARCHAR(100),
    @Designation NVARCHAR(100),
    @Email NVARCHAR(150),
    @Address NVARCHAR(300),
    @IsActive BIT,
    @IsAdmin BIT,
    @Basic DECIMAL(10,2),
    @DA DECIMAL(10,2),
    @HRA DECIMAL(10,2),
    @GrossSalary DECIMAL(10,2)
)
AS
BEGIN
    IF @Id IS NULL
    BEGIN
        INSERT INTO Employees
        VALUES (@Name,@UserName,@PasswordHash,@BranchName,@Phone,@Mobile,@Gender,
                @BirthDate,@JoiningDate,@Department,@SubDepartment,@Designation,
                @Email,@Address,@IsActive,@IsAdmin,@Basic,@DA,@HRA,@GrossSalary,GETDATE())
    END
    ELSE
    BEGIN
        UPDATE Employees SET
            Name=@Name,
            UserName=@UserName,
            PasswordHash=@PasswordHash,
            BranchName=@BranchName,
            Phone=@Phone,
            Mobile=@Mobile,
            Gender=@Gender,
            BirthDate=@BirthDate,
            JoiningDate=@JoiningDate,
            Department=@Department,
            SubDepartment=@SubDepartment,
            Designation=@Designation,
            Email=@Email,
            Address=@Address,
            IsActive=@IsActive,
            IsAdmin=@IsAdmin,
            Basic=@Basic,
            DA=@DA,
            HRA=@HRA,
            GrossSalary=@GrossSalary
        WHERE Id=@Id
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveProduct]    Script Date: 27-04-2026 15:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SaveProduct]
(
    @Id INT = NULL,
    @Barcode NVARCHAR(50),
    @Department NVARCHAR(100),
    @Section NVARCHAR(100),
    @Category NVARCHAR(100),
    @SubCategory NVARCHAR(100),
    @Brand NVARCHAR(100),
    @Pattern NVARCHAR(100),
    @ArticleName NVARCHAR(200),
    @Unit NVARCHAR(50),
    @GSTGroup NVARCHAR(50),
    @HSNCode NVARCHAR(20),
    @ProductType NVARCHAR(20),
    @PRP DECIMAL(10,2),
    @MRP DECIMAL(10,2),
    @WSP DECIMAL(10,2),
    @SSP DECIMAL(10,2),
    @Stock INT,
    @MinLevel INT,
    @MaxLevel INT,
    @IsActive BIT
)
AS
BEGIN
    IF @Id IS NULL
    BEGIN
        INSERT INTO Products
        VALUES (@Barcode,@Department,@Section,@Category,@SubCategory,
                @Brand,@Pattern,NULL,@ArticleName,@Unit,@GSTGroup,
                @HSNCode,@ProductType,@PRP,@MRP,@WSP,@SSP,
                @Stock,@MinLevel,@MaxLevel,@IsActive,GETDATE())
    END
    ELSE
    BEGIN
        UPDATE Products SET
            Barcode=@Barcode,
            Department=@Department,
            Section=@Section,
            Category=@Category,
            SubCategory=@SubCategory,
            Brand=@Brand,
            Pattern=@Pattern,
            ArticleName=@ArticleName,
            Unit=@Unit,
            GSTGroup=@GSTGroup,
            HSNCode=@HSNCode,
            ProductType=@ProductType,
            PRP=@PRP,
            MRP=@MRP,
            WSP=@WSP,
            SSP=@SSP,
            Stock=@Stock,
            MinLevel=@MinLevel,
            MaxLevel=@MaxLevel,
            IsActive=@IsActive
        WHERE Id=@Id
    END
END
GO
USE [master]
GO
